*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 5em;
    position: sticky;

}

.iz {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.iz img{
    height: 1.5em;
}

.de {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;

}

.nav li {
    margin-left: 2em;

}

.nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    color: black;
    font-weight: 300;
}

.nav a:hover {
    border-bottom: 2px solid rgb(66, 208, 0);
    color: rgb(0, 219, 0);
}



.carrusel {
    overflow: hidden;

}

.slider-container {
    display: flex;
    position: relative;
    width: 100%;
    scroll-snap-type: x mandatory;
    animation: 20s slidy infinite;
    margin: 0;
    text-align: left;
    left: 0;
    font-size: 0;

}

.slider-container img {
    flex: 0 0 100%;
    object-fit: cover;
    scroll-snap-align: center;
    width: 20%;
    float: left;
}



@keyframes slidy {
    0% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -50%;
    }

    100% {
        left: 0%;
    }

}

.articulos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 4em;

}


.arti img {
    height: 2em;
}

.arti{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 3em;
}

.arti a{
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    color: rgb(0, 0, 181);
}

.cards-prods{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    position: relative;
    width: 24em;
    height: 30em;
    margin: 2em;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.668);
}

.cards-prod{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.cards-prod h2{
    text-transform: capitalize;
    margin: 1em;
}

.cards-prod p{
    text-transform: capitalize;
    font-size: 1em;
    margin: 1em;
}

.btn-cards{
    position: absolute;
    top: 27em;
    left: 1em;

}

.btn-cards a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: rgba(1, 1, 131, 0.604);
    padding: 0.5em;
    color: white;
}

.btn-cards a:hover{
    background-color: rgb(1, 1, 166);
}

.fondo-game{
    height: 20em;
    width: 90em;
}

.fondo-game img{
    width: 90em;
}

.c-fondo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position:relative;
    margin-top: 3em;
}

.tx-game{
    position: absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    top: 14em;
    left: 20em;
    color: white;
    text-transform: capitalize;
    width: 30em;
}

.tx-game h2{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.tx-game p{
    line-height: 1.3em;
}

.tx-game a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: rgba(0, 0, 255, 0.604);
    padding: 0.5em;
    color: white;
    margin-top: 1em;
}

.tx-game a:hover{
    background-color: rgb(28, 28, 134);
}

.para-empresa{
    margin-top: 20em;
}

.title-empresa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20em;
    height: 3em;
    text-transform: capitalize;
    font-size: 1.5em;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5em;
    text-transform: capitalize;
}

.redes img{
    height: 2em;
    margin-left: 1em;
}

.footer-lis{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 5em;
    margin-top: 5em;
    text-transform: capitalize;
    color: gray;


}

.footer-lis ul{
    list-style: none;
    line-height: 2em;
    margin-top: 1em;
}

.footer-lis a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: gray;

}

.footer-lis a:hover{
    border-bottom: 1px solid gray;
    color: rgb(74, 73, 73);
}

.footerp{
    display: grid;
    grid-template-columns:repeat(6,1fr) 20em;
}
